In [1]:
!pip install -q kaggle # connecting kaggle

In [2]:
!mkdir ~/.kaggle # creating a kaggle directory

In [4]:
!cp kaggle.json ~/.kaggle # copying the json file to folder

In [5]:
!kaggle datasets download -d shree1992/housedata   # from kaggle dataset field copy API command

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading housedata.zip to /content
  0% 0.00/432k [00:00<?, ?B/s]
100% 432k/432k [00:00<00:00, 100MB/s]

In [6]:
!unzip /content/housedata.zip

Archive:  /content/housedata.zip
  inflating: data.csv
  inflating: data.dat
  inflating: output.csv

In [8]:
import pandas as pd

In [12]:
df=pd.read_csv('/content/output.csv')
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA